<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>game</key>
	<dict>
		<key>game_id</key>
		<string>gameID</string>
		<key>name</key>
		<string>game</string>
		<key>code</key>
		<string>code</string>
		<key>type</key>
		<string>gameType</string>
		<key>season</key>
		<string>season</string>
	</dict>
	<key>league</key>
	<dict>
		<key>name</key>
		<string>name</string>
		<key>league_id</key>
		<string>leagueID</string>
		<key>draft_status</key>
		<string>drafted</string>
		<key>num_teams</key>
		<string>numTeams</string>
		<key>scoring_type</key>
		<string>scoringType</string>
	</dict>
	<key>roster_position</key>
	<dict>
		<key>position</key>
		<string>name</string>
		<key>count</key>
		<string>numStarters</string>
	</dict>
	<key>stat</key>
	<dict>
		<key>display_name</key>
		<string>name</string>
		<key>name</key>
		<string>longName</string>
		<key>position_type</key>
		<string>positionType</string>
		<key>sort_order</key>
		<string>increasing</string>
	</dict>
	<key>team</key>
	<dict>
		<key>name</key>
		<string>name</string>
		<key>team_id</key>
		<string>teamID</string>
	</dict>
</dict>
</plist>
